@model SliderCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">
    <form method="post" asp-action="Create"enctype="multipart/form-data">
        <input  asp-for="Image" class="form-control "/>
        <span asp-validation-for="Image" class="text-danger d-block"></span>
        <button type="submit" class="btn btn-success my-3">Submit</button>
        <a asp-action="Index" class="btn btn-primary">back</a>
    </form>
</div>

